[client]
host = {{mysql.host}}
port = {{mysql.port}}
user = {{mysql.user}}
password = {{mysql.password}}
[mysqladmin]
host = {{mysql.host}}
port = {{mysql.port}}
user = {{mysql.user}}
password = {{mysql.password}}